<!DOCTYPE html>
<html>

<head>
  <title>Show Houses</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
  <style>
     .dataTables_length select {
      background-color: #27272A !important; /* Set dropdown background to white */
      color: #fff !important; /* Set text color to black */
      border: 1px solid #ccc; /* Add a subtle border */
      padding: 5px;
      border-radius: 5px;
    }
  
    /* Ensure dropdown options are visible */
    .dataTables_length select option {
      background-color: #27272A;
      color: #fff;
    }
  </style>
</head>

<body class="bg-zinc-800 text-white">
  <div class="w-full h-36 flex items-center justify-center mb-12 flex-col">
    <h1 class="text-5xl">All Unpaid Houses for the Month of <%=month%></h1>
  </div>

  <div class="w-full flex justify-center items-center">
    <div class="w-[95%] overflow-x-hidden"> 
      <table id="myTable" class="w-full">
        <thead>
          <tr class="text-white">
            <th class="p-3">House Name</th>
            <th class="p-3">Category</th>
            <th class="p-3">Amount to be Collected</th>
            <th class="p-3">Is Amount Paid?</th>
            <th class="p-3">Floors</th>
            <th class="p-3">Additionals?</th>
          </tr>
        </thead>
        <tbody>
          <% houses.forEach(function(elem) { %>
            <tr class="text-white">
              <td class="p-3"><%= elem.name %></td>
              <td class="p-3"><%= elem.category %></td>
              <td class="p-3"><%= elem.amount_to_be_collected %></td>
              <td class="p-3"><%= elem.is_amount_collected ? "Yes" : "No" %></td>
              <td class="p-3"><%= elem.floors %></td>
              <td>
                <form action="/<%=Year%>/<%=month%>/edit/status/<%= elem.name %>" id="checkform" method="POST">
                  <input type="checkbox" name="editamountpaid" <%= elem.is_amount_collected ? "checked" : "" %> id="">
                  <script>
                    document.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
                      checkbox.addEventListener('change', function() {
                        this.closest('form').submit(); // Submits the form closest to the checkbox
                      });
                    });
                  </script>
                  
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
  <script>
   let table = new DataTable('#myTable',{
      "pageLength": -1, // Show all entries
    "lengthMenu": [[-1, 10, 20, 50, 100], ["All", 10, 20, 50, 100]] // Add "All" option in dropdown

    });
  </script>
</body>

</html>